.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.sidebar {
  width: 240px;
  background: #1e293b;
  color: white;
  padding: 20px;
  flex-shrink: 0;
  overflow: hidden;
}

.main {
  flex: 1;
  padding: 25px;
  background: #f8fafc;
  overflow-y: auto;
}
